@using Newtonsoft.Json
@model UsfQuiz.Web.ViewModels.Quiz.Solve.QuizForSolvingModel

@{
    ViewBag.Title = $"Currently solving quiz - {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="solveQuiz" ng-controller="solveQuizController as ctrl" class="category-wrapper">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class': 'toast-top-center'}"></toaster-container>
    <section class="question-wrap">
            <div class="question-slide col-md-offset-1"
                 ng-repeat="question in ctrl.quiz.Questions">
                <div ng-include="ctrl.questionTemplate" class="panel panel-primary" style="margin-bottom: 10%;"></div>
            </div>
    </section>

    <div class="indicators row wrapper">
        <button id="solve-quiz" ng-click="ctrl.submit(ctrl.quiz)"
                class="btn btn-primary pull-right">
            Submit Answers
        </button>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Content/solve")
    @Styles.Render("~/Content/toaster")
}

@section scripts
{
    @{
        var quizJson = JsonConvert.SerializeObject(Model);
    }

    <script>
        window.quiz = @Html.Raw(quizJson);
    </script>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/solve-quiz")
}
