@model IEvaluationResult
@{
    ViewBag.Title = string.Format("Quiz result and solutions for: {0}", Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
}
<div class="container-fluid">
    <div class="category-wrapper col-md-7">

        <h4>Total number of questions: @Model.TotalQuestions</h4>
        <h4>Total questions answered correctly: @Model.TotalCorrectAnswer</h4>
        <h3>Score Obtained: @string.Format("{0:F}%", Model.CorrectScorePercent())</h3>
        @foreach (var question in Model.QuestionResults)
        {
            <div class="questions-container">
                <div class="panel panel-@(question.AnsweredCorrectly ? "success" : "danger")" style="margin-bottom: 5%;">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Question @i: @question.Title</h3>
                    </div>
                    <ul class="panel-body list-group">
                        @foreach (var answer in question.Answers)
                        {
                            var classes = new List<string>();
                            string icon = String.Empty;
                            string title = String.Empty;

                            if (answer.IsCorrect)
                            {
                                classes.Add("success correct");
                                icon = "fa fa-check";
                                title = "This is the correct answer. ";

                            }
                            else
                            {
                                icon = "fa fa-times";
                            }

                            if (answer.Id == question.SelectedAnswerId)
                            {
                                if (!answer.IsCorrect)
                                {
                                    classes.Add("danger incorrect");
                                }
                                classes.Add("selected");
                                title += "You selected this answer";
                            }

                            <li href="javascript:;"
                                class="list-group-item answer alert alert-@string.Join(" ", classes)"
                                title="@title" data-toggle="tooltip">
                                <i class="@icon" aria-hidden="true"></i>
                                <span>@answer.Text</span>
                            </li>
                        }
                        @{
                            ++i;
                        }
                    </ul>
                </div>
            </div>
                            }
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/solve")
}